* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Inter, system-ui, Arial;
}

a {
  color: #9eaac5;
  text-decoration: none;
}

button {
  cursor: pointer;
}

input {
  border: 1px solid #ccc;
  border-radius: 4px;
}